[submodule "themes/ramium"]
	path = themes/ramium
	url = https://github.com/rafed/ramium.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
